<!-- DataTables -->
<link
  href="assets\libs\datatables.net-bs4\css\dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="assets\libs\datatables.net-buttons-bs4\css\buttons.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Tình hình lớp học</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Admin</a>
            </li>
            <li class="breadcrumb-item active">Tình hình lớp</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <table
            id="datatable-buttons"
            class="table table-striped table-bordered dt-responsive nowrap"
            style="border-collapse: collapse; border-spacing: 0; width: 100%;"
          >
          <thead>
            <tr>
              <th
                style="position: sticky; top : -1px ;background-color: white;"
              >
                Họ tên học viên
              </th>
              <th
                style="position: sticky; top : -1px ;background-color: white;"
              >
                Giới tính
              </th>
              <th
                style="position: sticky; top : -1px  ;background-color: white;"
              >
                Thông tin liên hệ
              </th>
              <th
                style="position: sticky; top : -1px ;background-color: white;"
              >
               Email
              </th>
              <th
                style="position: sticky; top : -1px ;background-color: white;"
              >
                Nơi đón
              </th>
              <th
              style="position: sticky; top : -1px ;background-color: white;"
                >
              Trạng thái
            </th>
            </tr>
          </thead>
          <tbody>
            <% for(item of hocvien) {%>
            <tr>
              <th><span class="co-name"><%= item.ten %></span></th>
              <td><%= item.gioiTinh ? "Nam" : "Nữ" %></td>
              <td><%= item.sdt %></td>
              <td><%= item.email %></td>
              <td><%= item.pickUpLocation %></td>
              <td>
                <div class="text-center">
                    <span class="badge badge-pill badge-soft-<%= item.status == 5 ? "success" : "info"%> font-size-11"><%= item.status == 5 ? "Đủ điều kiện" : "Đang học"%></span>
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Tổng quan lớp hoc</h4>

          <div class="row text-center">
            <div class="col-4">
              <h5 class="mb-0"><%= hocvien.length%></h5>
              <p class="text-muted text-truncate">Tổng số học viên</p>
            </div>
            <div class="col-4">
              <h5 class="mb-0"><%= hocvien2.length%></h5>
              <p class="text-muted text-truncate">Đủ đièu kiện</p>
            </div>
            <div class="col-4">
              <h5 class="mb-0"><%= hocvien.length - hocvien2.length%></h5>
              <p class="text-muted text-truncate">Đang học</p>
            </div>
          </div>

          <canvas id="doughnut" height="260"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
<!-- Chart JS -->
<script src="assets\libs\chart.js\Chart.bundle.min.js"></script>

<!-- Required datatable js -->
<script src="assets\libs\datatables.net\js\jquery.dataTables.min.js"></script>
<script src="assets\libs\datatables.net-bs4\js\dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="assets\libs\datatables.net-buttons\js\dataTables.buttons.min.js"></script>
<script src="assets\libs\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js"></script>
<script src="assets\libs\jszip\jszip.min.js"></script>
<script src="assets\libs\pdfmake\build\pdfmake.min.js"></script>
<script src="assets\libs\pdfmake\build\vfs_fonts.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.html5.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.print.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets\libs\datatables.net-responsive\js\dataTables.responsive.min.js"></script>
<script src="assets\libs\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script>
  !(function(l) {
    'use strict';
    function r() {}
    (r.prototype.respChart = function(r, o, e, a) {
      (Chart.defaults.global.defaultFontColor = '#8791af'),
        (Chart.defaults.scale.gridLines.color = 'rgba(166, 176, 207, 0.1)');
      var t = r.get(0).getContext('2d'),
        n = l(r).parent();
      function i() {
        r.attr('width', l(n).width());
        switch (o) {
          case 'Doughnut':
            new Chart(t, { type: 'doughnut', data: e, options: a });
        }
      }
      l(window).resize(i), i();
    }),
      (r.prototype.init = function() {
        this.respChart(l('#doughnut'), 'Doughnut', {
          labels: ['Đủ điều kiện', 'Chưa đủ đièu kiện'],
          datasets: [
            {
              data: [<%= hocvien2.length%>, <%= hocvien.length - hocvien2.length%>],
              backgroundColor: ['#556ee6', '#ebeff2'],
              hoverBackgroundColor: ['#556ee6', '#ebeff2'],
              hoverBorderColor: '#fff'
            }
          ]
        });
      }),
      (l.ChartJs = new r()),
      (l.ChartJs.Constructor = r);
  })(window.jQuery);

  $(document).ready(function() {
    $('#datatable-buttons')
      .DataTable({
        lengthChange: !1,
        buttons: ['copy', 'excel', 'pdf', 'colvis']
      })
      .buttons()
      .container()
      .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');

    window.jQuery.ChartJs.init();
  });

</script>
