<% function getdate(date){ temp = new Date(date); return temp.getHours() + ":" +
temp.getMinutes() + " " +temp.getDate() + "/" + temp.getMonth() + "/" +
temp.getFullYear(); } %>
<script src="\js\jquery.js"></script>
<!-- Responsive Table css -->
<link
  href="assets\libs\admin-resources\rwd-table\rwd-table.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0 font-size-18">Theo dõi điểm danh</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Admin</a>
          </li>
          <li class="breadcrumb-item active">Theo dõi điểm danh</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Example</h4>
        <p class="card-title-desc">
          This is an experimental awesome solution for responsive tables with
          complex data.
        </p>

        <div class="table-rep-plugin">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                  />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive mb-0" data-pattern="priority-columns">
            <table id="tech-companies-1" class="table table-striped">
              <thead>
                <tr>
                  <th>Tên hoc viên</th>
                  <th data-priority="3">Thời gian vào</th>
                  <th data-priority="1">Thời gian ra</th>
                  <th data-priority="3">Tổng thời gian (s)</th>
                  <th data-priority="3">Ảnh lúc vào</th>
                  <th data-priority="6">Ảnh lúc ra</th>
                  <th data-priority="6">Trạng thái</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <% for(item of log) { %>

                <tr style="background: <%- item.totalTime > 0 ? '' : 'rgb(255 156 0 / 27%);'%>">
                  <th>
                    <a href="/profile/<%= item.idHocVien._id %>"
                      ><%= item.idHocVien.ten %></a
                    >
                  </th>
                  <td><%= getdate(item.checkInAt) %></td>
                  <td><%= getdate(item.checkOutAt) %></td>
                  <td><%= item.totalTime %></td>
                  <td><a href="#"><%= item.imageCheckIn %></a></td>
                  <td><a href="#"><%= item.imageCheckOut %></a></td>
                  <td>
                    <% if(item.totalTime > 0) { %>
                    <span
                      class="badge badge-pill badge-soft-success font-size-12"
                      >Hoàn thành</span
                    >
                    <% } else { %>
                    <span
                      class="badge badge-pill badge-soft-danger font-size-12"
                      >Thất bại</span
                    >
                    <% } %>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary btn-sm btn-rounded"
                      data-toggle="modal" data-target=".bs-example-modal-center"
                    >
                      <i class="mdi mdi-pencil"></i> View and Edit
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ul class="pagination pagination-rounded justify-content-end mb-2">
        <li class="page-item disabled">
          <a
            class="page-link"
            href="javascript: void(0);"
            aria-label="Previous"
          >
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="javascript: void(0);">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript: void(0);" aria-label="Next">
            <i class="mdi mdi-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
<!-- Responsive Table js -->
<script src="assets\libs\admin-resources\rwd-table\rwd-table.min.js"></script>

    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Thông tin điểm danh</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid #ccc;">
                            <div>

                                Thời gian vào : <strong><%= getdate(item.checkInAt) %></strong></br>
                                Hình ảnh lúc vào:
                            </div>
                            <div style="border: 5px solid #ccc;">
                                <img class="rounded" src="/img/attendance/<%= item.imageCheckIn %>"  alt="anh-hoc-vien" width="100%">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>

                            Thời gian ra : <strong><%= getdate(item.checkOutAt) %></strong></br>
                            Hình ảnh lúc ra: 
                            </div>
                            <div style="border: 5px solid #ccc;">
                                <img class="rounded" src="/img/attendance/<%= item.imageCheckOut %>"  alt="anh-hoc-vien" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>