<% function getdate(date){ temp = new Date(date); return temp.getHours() + ":" +
temp.getMinutes() + " " +temp.getDate() + "/" + temp.getMonth() + "/" +
temp.getFullYear(); } %>
<!-- Responsive Table css -->

<!-- DataTables -->
<link href="assets\libs\datatables.net-bs4\css\dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="assets\libs\datatables.net-buttons-bs4\css\buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

<!-- Responsive datatable examples -->
<link href="assets\libs\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">   


<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0 font-size-18">Theo dõi điểm danh</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Admin</a>
          </li>
          <li class="breadcrumb-item active">Theo dõi điểm danh</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-rep-plugin">
          <div class="row mb-2">
          <div class="table-responsive mb-0" data-pattern="priority-columns">
            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
                <tr>
                  <th>Tên hoc viên</th>
                  <th data-priority="3">Thời gian vào</th>
                  <th data-priority="1">Thời gian ra</th>
                  <th data-priority="3">Tổng thời gian (s)</th>
                  <th data-priority="3">Ảnh lúc vào</th>
                  <th data-priority="6">Ảnh lúc ra</th>
                  <th data-priority="6">Trạng thái</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <% for(item of log) { %>

                <tr style="background: <%- item.totalTime > 0 ? '' : 'rgb(255 156 0 / 27%);'%>">
                  <th>
                    <a href="/profile/<%= item.idHocVien._id %>"
                      ><%= item.idHocVien.ten %></a
                    >
                  </th>
                  <td><%= getdate(item.checkInAt) %></td>
                  <td><%= getdate(item.checkOutAt) %></td>
                  <td><%= item.totalTime %></td>
                  <td><a href="/img/attendance/<%= item.imageCheckIn %>"><%= item.imageCheckIn %></a></td>
                  <td><a href="/img/attendance/<%= item.imageCheckOut %>"><%= item.imageCheckOut %></a></td>
                  <td>
                    <% if(item.totalTime > 0) { %>
                    <span
                      class="badge badge-pill badge-soft-success font-size-12"
                      >Hoàn thành</span
                    >
                    <% } else { %>
                    <span
                      class="badge badge-pill badge-soft-danger font-size-12"
                      >Thất bại</span
                    >
                    <% } %>
                  </td>
                  <td>
                    <button
                      value="<%= item._id %>"
                      type="button"
                      class="btn btn-primary btn-sm btn-rounded show-modal-ok"
                      data-toggle="modal" data-target="#<%= item._id %>"
                    >
                      <i class="mdi mdi-pencil"></i> View and Edit
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

<script>
  $(document).ready(function() {
    $('.show-modal-ok').on('click', function() {
    document.getElementById($(this).val()).showModal()
    })
  })
</script>
<!-- end row -->
<!-- Responsive Table js -->
<script src="assets\libs\admin-resources\rwd-table\rwd-table.min.js"></script>
<script src="assets\libs\datatables.net\js\jquery.dataTables.min.js"></script>
<script src="assets\libs\datatables.net-bs4\js\dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="assets\libs\datatables.net-buttons\js\dataTables.buttons.min.js"></script>
<script src="assets\libs\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js"></script>
<script src="assets\libs\jszip\jszip.min.js"></script>
<script src="assets\libs\pdfmake\build\pdfmake.min.js"></script>
<script src="assets\libs\pdfmake\build\vfs_fonts.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.html5.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.print.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets\libs\datatables.net-responsive\js\dataTables.responsive.min.js"></script>
<script src="assets\libs\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script>
$(document).ready(function() {
    $('#datatable-buttons')
      .DataTable({
        lengthChange: !1,
        buttons: ['copy', 'excel', 'pdf', 'colvis']
      })
      .buttons()
      .container()
      .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
});
        </script>  
</script>

<% for(item of log) { %>
  <div id="<%= item._id %>" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div  class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title mt-0">Thông tin điểm danh</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6" style="border-right: 1px solid #ccc;">
                          <div>

                              Thời gian vào : <strong><%= getdate(item.checkInAt) %></strong></br>
                              Hình ảnh lúc vào:
                          </div>
                          <div style="border: 5px solid #ccc;">
                              <img class="rounded" src="/img/attendance/<%= item.imageCheckIn %>"  alt="anh-hoc-vien" width="100%">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div>

                          Thời gian ra : <strong><%= getdate(item.checkOutAt) %></strong></br>
                          Hình ảnh lúc ra: 
                          </div>
                          <div style="border: 5px solid #ccc;">
                              <img class="rounded" src="/img/attendance/<%= item.imageCheckOut %>"  alt="anh-hoc-vien" width="100%">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <% } %>