<!DOCTYPE html>
<html lang="en">

<%- include('layout_frontend/head'); -%> 

<body class="layout-one-sidebar layout-sidebar-first" background="img/form_sheetbg.png">
<div id="fb-root"></div>
<a href="#main-content" class="visually-hidden focusable">
    Nhảy đến nội dung
</a>

<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>

    <%- include('layout_frontend/topbar'); -%> 
    <!--Start header area-->
    <%- include('layout_frontend/menu'); -%> 
    <!--End header area-->
    
    <%- include(page + '/index'); -%>

    <%- include('layout_frontend/footer'); -%> 
</div>

<!--End footer bottom area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!-- main jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- mixit up -->
<script src="js/jquery.mixitup.min.js"></script>
<!--

<script src="js/jquery.easing.min.js"></script>
-->

<!-- video responsive script-->
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.flexslider.js"></script>
<!-- jQuery ui js -->
<script src="js/jquery-ui.js"></script>
<!-- fancy box -->
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.appear.js"></script>

<!-- isotope script-->
<script src="js/isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>

<!-- revolution slider js -->
<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/revolution.extension.actions.min.js"></script>
<script src="js/revolution.extension.carousel.min.js"></script>
<script src="js/revolution.extension.kenburn.min.js"></script>
<script src="js/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution.extension.migration.min.js"></script>
<script src="js/revolution.extension.navigation.min.js"></script>
<script src="js/revolution.extension.parallax.min.js"></script>
<script src="js/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution.extension.video.min.js"></script>

<!-- thm custom script -->
<script src="js/custom.js"></script>
</div>
<script src="js/js_QEbGdxdLW3ZRhXDtcn9x8Rmk3TDqSmK5QfW8481bK98.js"></script>
<script src="/js/traCuu.js"></script>

<img height="1" width="1" style="border-style:none;" alt=""
     src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/987500959/?guid=ON&amp;script=0"/>

</body>
</html>


