<% function getdate(date){ temp = new Date(date); return temp.getHours() + ":" +
temp.getMinutes() + " " +temp.getDate() + "/" + temp.getMonth() + "/" +
temp.getFullYear(); } %>

<div class="container-fluid">

  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Trang chủ</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
            <li class="breadcrumb-item active">Trang chủ</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Chào mừng trở lại !</h5>
                <p>Chúc bạn ngày mới vui vẻ</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets\images\profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets\images\users\avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate"><%= user.name %></h5>
              <p class="text-muted mb-0 text-truncate"><%= user.email %></p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">5+ năm</h5>
                    <p class="text-muted mb-0">Kinh nghiệm</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">Vị trí làm việc</h5>
                    <p class="text-muted mb-0"><%= user.role == 'admin' ? "Quản trị viên" : "Giảng viên hướng dẫn" %></p>
                  </div>
                </div>
                <div class="mt-4">
                  <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ml-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Số lượng hồ sơ đăng ký / tháng</h4>
          <div class="row">
            <div class="col-sm-6">
              <p class="text-muted">Tháng này</p>
              <h3>35 hồ sơ mới</h3>
              <p class="text-muted"><span class="text-success mr-2"> 12% <i class="mdi mdi-arrow-up"></i> </span> So với tháng trước</p>

              <div class="mt-4">
                <a href="javascript:void(0)" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ml-1"></i></a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mt-4 mt-sm-0">
                <div id="radialBar-chart" class="apex-charts"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <p class="text-muted font-weight-medium">Số giảng viên</p>
                  <h4 class="mb-0">20 người</h4>
                </div>

                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                        <span class="avatar-title">
                                                            <i class="bx bx-copy-alt font-size-24"></i>
                                                        </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <p class="text-muted font-weight-medium">Số bằng cấp đaò tạo</p>
                  <h4 class="mb-0">8 loại</h4>
                </div>

                <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="bx bx-archive-in font-size-24"></i>
                                                        </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mini-stats-wid">
            <div class="card-body">
              <div class="media">
                <div class="media-body">
                  <p class="text-muted font-weight-medium">Hồ sơ mới</p>
                  <h4 class="mb-0"><%= pending.length %> hồ sơ</h4>
                </div>

                <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-primary">
                                                            <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                                        </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4 float-sm-left">Số lượng hồ sơ</h4>
          <div class="float-sm-right">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0)">12 tháng gần nhất</a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div id="stacked-column-chart" class="apex-charts" dir="ltr"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Kênh mạng xã hội</h4>
          <div class="text-center">
            <div class="avatar-sm mx-auto mb-4">
                                                <span class="avatar-title rounded-circle bg-soft-primary font-size-24">
                                                        <i class="mdi mdi-facebook text-primary"></i>
                                                    </span>
            </div>
            <p class="font-16 text-muted mb-2"></p>
            <h5><a href="#" class="text-dark">Facebook - <span class="text-muted font-16">Page chính đăng tải thông tin</span> </a></h5>
            <p class="text-muted">Nơi đăng tải trực tiếp các thông tin về khóa học và các thông báo liên quan.</p>
            <a href="https://www.facebook.com/Lucifer.NL" class="text-primary font-16">Đi tới page <i class="mdi mdi-chevron-right"></i></a>
          </div>
          <div class="row mt-4">
            <div class="col-4">
              <div class="social-source text-center mt-3">
                <div class="avatar-xs mx-auto mb-3">
                                                        <span class="avatar-title rounded-circle bg-primary font-size-16">
                                                                <i class="mdi mdi-facebook text-white"></i>
                                                            </span>
                </div>
                <h5 class="font-size-15">Facebook</h5>
                <p class="text-muted mb-0">2000 Follow</p>
              </div>
            </div>
            <div class="col-4">
              <div class="social-source text-center mt-3">
                <div class="avatar-xs mx-auto mb-3">
                                                        <span class="avatar-title rounded-circle bg-info font-size-16">
                                                                <i class="mdi mdi-twitter text-white"></i>
                                                            </span>
                </div>
                <h5 class="font-size-15">Twitter</h5>
                <p class="text-muted mb-0">5200+ Follow</p>
              </div>
            </div>
            <div class="col-4">
              <div class="social-source text-center mt-3">
                <div class="avatar-xs mx-auto mb-3">
                                                        <span class="avatar-title rounded-circle bg-pink font-size-16">
                                                                <i class="mdi mdi-instagram text-white"></i>
                                                            </span>
                </div>
                <h5 class="font-size-15">Instagram</h5>
                <p class="text-muted mb-0">5200+ Follow</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-5">Lịch hẹn tuần này</h4>
          <ul class="verti-timeline list-unstyled">
            <li class="event-list">
              <div class="event-timeline-dot">
                <i class="bx bx-right-arrow-circle font-size-18"></i>
              </div>
              <div class="media">
                <div class="mr-3">
                  <h5 class="font-size-14">22 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ml-2"></i></h5>
                </div>
                <div class="media-body">
                  <div>
                    Responded to need “Volunteer Activities
                  </div>
                </div>
              </div>
            </li>
            <li class="event-list">
              <div class="event-timeline-dot">
                <i class="bx bx-right-arrow-circle font-size-18"></i>
              </div>
              <div class="media">
                <div class="mr-3">
                  <h5 class="font-size-14">17 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ml-2"></i></h5>
                </div>
                <div class="media-body">
                  <div>
                    Everyone realizes why a new common language would be desirable... <a href="#">Read more</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="event-list active">
              <div class="event-timeline-dot">
                <i class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"></i>
              </div>
              <div class="media">
                <div class="mr-3">
                  <h5 class="font-size-14">15 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ml-2"></i></h5>
                </div>
                <div class="media-body">
                  <div>
                    Joined the group “Boardsmanship Forum”
                  </div>
                </div>
              </div>
            </li>
            <li class="event-list">
              <div class="event-timeline-dot">
                <i class="bx bx-right-arrow-circle font-size-18"></i>
              </div>
              <div class="media">
                <div class="mr-3">
                  <h5 class="font-size-14">12 Nov <i class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ml-2"></i></h5>
                </div>
                <div class="media-body">
                  <div>
                    Responded to need “In-Kind Opportunity”
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="text-center mt-4"><a href="/lichhen" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ml-1"></i></a></div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Các điểm đón phổ biến</h4>

          <div class="text-center">
            <div class="mb-4">
              <i class="bx bx-map-pin text-primary display-4"></i>
            </div>
            <h3>372 học viên</h3>
            <p>Trường Đại học Hàng hải Việt Nam
            </p>
          </div>

          <div class="table-responsive mt-4">
            <table class="table table-centered table-nowrap">
              <tbody>
              <tr>
                <td style="width: 30%">
                  <p class="mb-0">Kiến An</p>
                </td>
                <td style="width: 25%">
                  <h5 class="mb-0">210 học viên</h5></td>
                <td>
                  <div class="progress bg-transparent progress-sm">
                    <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-0">An Dương</p>
                </td>
                <td>
                  <h5 class="mb-0">130 học viên</h5>
                </td>
                <td>
                  <div class="progress bg-transparent progress-sm">
                    <div class="progress-bar bg-success rounded" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="mb-0">Thủy Nguyên</p>
                </td>
                <td>
                  <h5 class="mb-0">83 học viên</h5>
                </td>
                <td>
                  <div class="progress bg-transparent progress-sm">
                    <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Điểm danh gần đây</h4>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0">
              <thead class="thead-light">
              <tr>
                <th style="width: 20px;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                  </div>
                </th>
                <th>Tên hoc viên</th>
                  <th data-priority="3">Thời gian vào</th>
                  <th data-priority="1">Thời gian ra</th>
                  <th data-priority="3">Tổng thời gian (s)</th>
                  <th data-priority="3">Ảnh lúc vào</th>
                  <th data-priority="6">Ảnh lúc ra</th>
                  <th data-priority="6">Trạng thái</th>
              </tr>
              <tbody>
                <% for(item of log) { %>

                <tr style="background: <%- item.totalTime > 0 ? '' : 'rgb(255 156 0 / 27%);'%>">
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck6">
                      <label class="custom-control-label" for="customCheck6">&nbsp;</label>
                    </div>
                  </td>
                  <th>
                    <a href="/profile/<%= item.idHocVien._id %>"
                      ><%= item.idHocVien.ten %></a
                    >
                  </th>
                  <td><%= getdate(item.checkInAt) %></td>
                  <td><%= getdate(item.checkOutAt) %></td>
                  <td><%= item.totalTime %></td>
                  <td><a href="/img/attendance/<%= item.imageCheckIn %>"><%= item.imageCheckIn %></a></td>
                  <td><a href="/img/attendance/<%= item.imageCheckIn %>"><%= item.imageCheckOut %></a></td>
                  <td>
                    <% if(item.totalTime > 0) { %>
                    <span
                      class="badge badge-pill badge-soft-success font-size-12"
                      >Hoàn thành</span
                    >
                    <% } else { %>
                    <span
                      class="badge badge-pill badge-soft-danger font-size-12"
                      >Thất bại</span
                    >
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- end table-responsive -->
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
    <!-- apexcharts -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="assets/js/pages/dashboard.init.js"></script>
