<link
  rel="stylesheet"
  type="text/css"
  href="\assets\libs\toastr\build\toastr.min.css"
/>
<script src="\assets\libs\toastr\build\toastr.min.js"></script>
<!-- DataTables -->
<link href="assets\libs\datatables.net-bs4\css\dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="assets\libs\datatables.net-buttons-bs4\css\buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

<% function getdate(date){ 
  temp = new Date(date);
  var month = temp.getMonth();
  month += 1
  return temp.getHours() + ":" + temp.getMinutes() + " " +temp.getDate() + "/" + month + "/" + temp.getFullYear()
  } 

  function getday(date){ 
    var today = new Date(date);
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  return 'ngày ' + dd + ' tháng ' + mm + ' năm ' + yyyy;
  } 

%>
<%
if(hocvien.embedding != null){
  var total = 0; 
  for(item of log) total += item.totalTime;
  total = total / 3600; 
}
 %>

<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="page-title-box d-flex align-items-center justify-content-between"
    >
      <h4 class="mb-0 font-size-18">Thông tin học viên <%= hocvien.ten %></h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Hồ sơ học viên</a>
          </li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <% if(hocvien.status == 1) { %>
        <div class="ribbon ribbon-top-left"><span>Đang chờ</span></div>
        <% } if (hocvien.status == 2){ %>
        <div class="ribbon2 ribbon-top-left"><span>Đã hẹn</span></div>
        <% } if (hocvien.status == 3){ %>
          <div class="ribbon3 ribbon-top-left"><span>Chờ xếp lớp</span></div>
        <% }if (hocvien.status == 4){ %>
        <div class="ribbon1 ribbon-top-left"><span>Học viên</span></div>
        <% } %>

        <div class="invoice-title" style="margin-left: 7%;">
          <h4 class="float-right font-size-16" style="padding: auto;">
            Mã số # <%= hocvien.id %>
          </h4>
          <div class="mb-4" style="margin-bottom: 0px;">
            <img src="\assets\images\logo-dark.png" alt="logo" height="50" />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3" id="avt">
            <div class="avatar-xl mx-auto mb-4">
              <img
                class="rounded-bottom avatar-xl"
                src="/assets/images/users/avatar-7.jpg"
                alt=""
              />
            </div>
            <h3 class="text-lg-center">
              <strong><%= hocvien.ten %></strong>
            </h3>
            <h5 class="text-lg-center">
              <strong><%= hocvien.quocTich %> 🇻🇳</strong>
            </h5>
          </div>
          <style>
            .card {
              margin: auto;
              max-width: 90%;
            }
            .avatar-xl {
              height: 10rem;
              width: 10rem;
              border: 1px solid #c8c8d3;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
            }
            #avt {
              border-right: 1px solid #ccc;
            }
          </style>
          <div class="col-md-9">
            <div class="row">
              <div class="col-sm-4">
                <address>
                  <strong>Thông tin cơ bản:</strong><br />
                  Họ tên: <strong><%= hocvien.ten %></strong><br />
                  Giới tính:
                  <strong><%= hocvien.gioiTinh ? "Nam" : "Nữ" %></strong><br />
                  Ngày sinh:
                  <strong><%= getdate(hocvien.ngaySinh).split(" ")[1] %></strong
                  ><br />
                  Địa chỉ: <strong><%= hocvien.diaChi %></strong>
                </address>
              </div>
              <div class="col-sm-4">
                <address class="mt-2 mt-sm-0">
                  <strong>Thông tin CMND / CCCD / Hộ Chiếu:</strong><br />
                  Quốc tịch: <strong><%= hocvien.quocTich %></strong><br />
                  Mã số: <strong><%= hocvien.cmnd %></strong><br />
                  Cấp ngày:
                  <strong
                    ><%= getdate(hocvien.ngayCapcmnd).split(" ")[1] %></strong
                  ><br />
                  Nơi cấp: <strong><%= hocvien.noiCapcmnd %></strong><br />
                  Địa chỉ đăng ký hktt:
                  <strong><%= hocvien.noiDkhktt %></strong>
                </address>
              </div>
              <div class="col-sm-4">
                <address class="mt-2 mt-sm-0">
                  <strong>Thông tin đăng ký:</strong><br />
                  Loại bằng: <strong><%= hocvien.gplx %></strong><br />
                  Đăng ký tích hợp: <strong>Có</strong>
                </address>
                <% if(hocvien.status == 2){ %>
                <address class="mt-2 mt-sm-0">
                  <strong>Thông tin lịch hẹn:</strong><br />
                  Ngày hẹn: <strong><%= getdate(hocvien.ngayHen) %></strong
                  ><br />
                  Ghi chú:<strong><%= hocvien.ghiChu %></strong>
                </address>
                <% } %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 mt-3">
                <address>
                  <strong>Thông tin liên hệ:</strong><br />
                  Số điện thoại: <strong><%= hocvien.sdt %></strong><br />
                  Email: <strong><%= hocvien.email %></strong>
                </address>
              </div>
              <div class="col-sm-8 mt-3">
                <address>
                  <strong>Giấy tờ liên quan:</strong><br />
                  <div class="row">
                    <div class="col-md-4">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input
                        input-mini" <%= hocvien.hasGksk ? 'checked' : '' %>
                        readonly>
                        <label class="custom-control-label"
                          >Giấy khám sức khỏe</label
                        >
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input
                        input-mini" <%= hocvien.hasSyll ? 'checked' : '' %>
                        readonly>
                        <label class="custom-control-label"
                          >Sơ yếu lý lịch</label
                        >
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input
                        input-mini" <%= hocvien.hasAnh ? 'checked' : '' %>
                        readonly>
                        <label class="custom-control-label">Ảnh 3x4</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input
                        input-mini" <%= hocvien.hasDongdangky ? 'checked' : ''
                        %> readonly>
                        <label class="custom-control-label">Đơn đăng ký</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input
                        input-mini" <%= hocvien.hasCmnd ? 'checked' : '' %>
                        readonly>
                        <label class="custom-control-label"
                          >Bản sao CMND / CCCD / Hộ chiếu</label
                        >
                      </div>
                    </div>
                  </div>
                </address>
              </div>
            </div>
          </div>
        </div>
        <% if(hocvien.status == 4){ %>
          <hr />
          <div class="row">
            <div class="col-md-6" style="border-right: 1px solid #ccc ;">
              <address class="mt-2 mt-sm-0" style="padding-left:5%;">
                <strong>Thông tin lớp học:</strong><br />
                Lớp: <strong><%= hocvien.idLop.tenLop %></strong><br />
                Ngày khai giảng:
                <strong
                  ><%= getdate(hocvien.idLop.khaiGiang).split(' ')[1] %></strong
                ><br />
                Loại bằng: <strong><%= hocvien.idLop.idLoaiBang.tenBang %></strong
                ><br />
              </address>
            </div>
            <div class="col-md-6">
              <div class="row">
                <address class="mt-2 mt-sm-0" style="padding-left:5%;">
                  <strong>Thông tin giảng viên hướng dẫn:</strong><br />
                  Lớp: <strong><%= hocvien.idLop.idGiangVien.ten %></strong><br />
                  Ngày khai giảng:
                  <strong><%= hocvien.idLop.idGiangVien.sdt %></strong><br />
                  Loại bằng:
                  <strong><%= hocvien.idLop.idGiangVien.email %></strong><br />
                </address>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card-body" style="padding-top: 0">
              <div class="row">
                <div class="col-md-10">
                  <strong
                    >Thời gian học (<%=total.toFixed(2)%> giờ) / Tổng thời gian
                    (<%=hocvien.idLop.idLoaiBang.thoiGianHoc%> giờ) </strong
                  ><br />
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-striped progress-bar-animated"
                      role="progressbar"
                      aria-valuenow=""
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="width: <%= (total * 100) / hocvien.idLop.idLoaiBang.thoiGianHoc %>%"
                    ></div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button
                  data-toggle="modal"
                  data-target=".bs-example-modal-center"
                    class="btn btn-warning waves-effect waves-light mr-1  <%= (total * 100) / hocvien.idLop.idLoaiBang.thoiGianHoc == 100 ? "" : "disabled"%>"
                    ><i class="fas fa-award"></i> Nhập điểm lý thuyết</button
                  >
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div>
            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
                <tr>
                  <th
                    style="position: sticky; top : -1px ;background-color: white;"
                  >
                    Học viên
                  </th>
                  <th
                    style="position: sticky; top : -1px ;background-color: white;"
                  >
                    Thời gian vào
                  </th>
                  <th
                    style="position: sticky; top : -1px  ;background-color: white;"
                  >
                    Thời gian ra
                  </th>
                  <th
                    style="position: sticky; top : -1px ;background-color: white;"
                  >
                    Tổng thời gian (s)
                  </th>
                  <th
                    style="position: sticky; top : -1px ;background-color: white;"
                  >
                    Ảnh lúc vào
                  </th>
                  <th
                    style="position: sticky; top : -1px ;background-color: white;"
                  >
                    Ảnh lúc ra
                  </th>
                </tr>
              </thead>
              <tbody>
                <% for(item of log) {%>
                <tr>
                  <th><span class="co-name"><%= hocvien.ten %></span></th>
                  <td><%= getdate(item.checkInAt) %></td>
                  <td><%= getdate(item.checkOutAt) %></td>
                  <td><%= item.totalTime %></td>
                  <td><a href="/img/attendance/<%= item.imageCheckIn %>"><%= item.imageCheckIn %></a></td>
                  <td><a href="/img/attendance/<%= item.imageCheckOut %>"><%= item.imageCheckOut %></a></td>
                </tr>
                <% total+= item.totalTime; } %>
              </tbody>
            </table>
          </div>
          <div
          class="modal fade bs-example-modal-center"
          tabindex="-1"
          role="dialog"
          aria-labelledby="mySmallModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title mt-0">Nhập điểm cho <%= hocvien.ten %></h5>
                <input
                  id="code"
                  type="text"
                  value="<%= hocvien._id %>"
                  hidden
                  readonly
                />
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label for="note" class=" col-form-label">Điểm:</label>
                  <input id="node" class="form-control" required="" type="text range" min="1" max="3" placeholder="Nhập điểm học viên...">
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id="btn-close"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" id="datlich" class="btn btn-success">
                  Xác nhận
                </button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- toastr plugin -->
        <script src="\assets\libs\toastr\build\toastr.min.js"></script>
        
        <script>
          $(document).ready(() => {
            $('#datlich').on('click', () => {
              $.ajax({
                url: '/api/v1/student/setdiem',
                type: 'post',
                data: {
                  _id: $('#code').val(),
                  diem: $('#node').val(),
                },
                success: function(data) {
                  if (data === 'success') {
                    $('#btn-close').click();
                    toastr.options = {
                      closeButton: false,
                      debug: false,
                      newestOnTop: false,
                      progressBar: false,
                      positionClass: 'toast-bottom-right',
                      preventDuplicates: false,
                      onclick: null,
                      showDuration: 300,
                      hideDuration: 1000,
                      timeOut: 5000,
                      extendedTimeOut: 1000,
                      showEasing: 'swing',
                      hideEasing: 'linear',
                      showMethod: 'fadeIn',
                      hideMethod: 'fadeOut'
                    };
                    toastr.options.onHidden = () => {
                      location.reload();
                    };
                    toastr['success']('Yub! Đặt lịch hẹn thành công ^^', 'Thành công!');
                  } else {
                    $('#btn-close').click();
                    toastr.options = {
                      closeButton: false,
                      debug: false,
                      newestOnTop: false,
                      progressBar: false,
                      positionClass: 'toast-bottom-right',
                      preventDuplicates: false,
                      onclick: null,
                      showDuration: 300,
                      hideDuration: 1000,
                      timeOut: 5000,
                      extendedTimeOut: 1000,
                      showEasing: 'swing',
                      hideEasing: 'linear',
                      showMethod: 'fadeIn',
                      hideMethod: 'fadeOut'
                    };
                    toastr.on.options.onHidden = () => {
                      location.reload();
                    };
                    toastr['error'](
                      'Đặt lịch hẹn thất bại. Kiểm tra lại!',
                      'Ops! Thất bại'
                    );
                  }
                }
              });
            });
          });
        </script>

        <% } %>

        <hr />
        <div class="d-print-none">
          <div class="float-right">
            <button
            onclick="printDiv('printableArea')"
              class="btn btn-success waves-effect waves-light mr-1"
              ><i class="fa fa-print"></i> In thông tin học viên</button
            >
            <a
              href="mailto: <%= hocvien.email %>"
              class="btn btn-primary w-md waves-effect waves-light"
              ><i class="far fa-paper-plane"></i> Gửi email</a
            >
            <a
              href="call: <%= hocvien.sdt %>"
              class="btn btn-primary w-md waves-effect waves-light"
              ><i class="fas fa-phone-alt"></i> Liên hệ qua số điện thoại</a
            >
            <% if(hocvien.status == 1) { %>
            <button
              data-toggle="modal"
              data-target=".bs-example-modal-center"
              class="btn btn-warning w-md waves-effect waves-light"
            >
              <i class="fas fa-calendar"></i> Đặt lịch hẹn
            </button>
            <% } if(hocvien.status == 3) { %>
            <button
              data-toggle="modal"
              data-target=".bs-example-modal-center"
              class="btn btn-warning w-md waves-effect waves-light"
            >
              <i class="fas fa-qrcode"></i> Xếp lớp
            </button>
            <% } if(hocvien.status == 2) { %>
                <button
              data-toggle="modal"
              data-target="#giayto"
              class="btn btn-warning w-md waves-effect waves-light"
            >
              <i class="fas fa-address-card"></i> Bổ sung giấy tờ
            </button>

            <button
              data-toggle="modal"
              data-target="#qr-modal"
              class="btn btn-warning w-md waves-effect waves-light"
            >
              <i class="fas fa-qrcode"></i> Nhận mã QR
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(hocvien.status == 1) { %>
<div
  class="modal fade bs-example-modal-center"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Đặt lịch hẹn cho <%= hocvien.ten %></h5>
        <input
          id="code"
          type="text"
          value="<%= hocvien._id %>"
          hidden
          readonly
        />
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="appointment" class=" col-form-label">Ngày hẹn:</label>
        <input
          class="form-control"
          type="datetime-local"
          id="appointment"
          required
        />
        <label for="note" class=" col-form-label">Ghi chú:</label>
        <textarea id="note" class="form-control" name="ghiChu"></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btn-close"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" id="datlich" class="btn btn-success">
          Đặt lịch hẹn
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- toastr plugin -->
<script src="\assets\libs\toastr\build\toastr.min.js"></script>

<script>
  $(document).ready(() => {
    $('#datlich').on('click', () => {
      $.ajax({
        url: '/api/v1/student/setappointment',
        type: 'post',
        data: {
          _id: $('#code').val(),
          ngayHen: $('#appointment').val(),
          ghiChu: $('#note').val()
        },
        success: function(data) {
          if (data === 'success') {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.options.onHidden = () => {
              location.reload();
            };
            toastr['success']('Yub! Đặt lịch hẹn thành công ^^', 'Thành công!');
          } else {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.on.options.onHidden = () => {
              location.reload();
            };
            toastr['error'](
              'Đặt lịch hẹn thất bại. Kiểm tra lại!',
              'Ops! Thất bại'
            );
          }
        }
      });
    });
  });
</script>
<% } if(hocvien.status == 3) { %>
<div
  class="modal fade bs-example-modal-center"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">Xếp lớp cho <%= hocvien.ten %></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <input
          id="code"
          type="text"
          value="<%= hocvien._id %>"
          hidden
          readonly
        />
      </div>
      <div class="modal-body">
        <select class="form-control" id="lop">
          <option value="" selected disabled hidden>--Chọn lớp--</option>
          <% for(item of lop) { %>
            <option value="<%= item._id %>" ><%= item.tenLop + ' - GVHD: ' +item.idGiangVien.ten%></option>
          <% } %>
      </select>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btn-close"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" id="xeplop" class="btn btn-success">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $('#xeplop').on('click', () => {
      $.ajax({
        url: '/api/v1/student/xeplop',
        type: 'post',
        data: {
          _id: $('#code').val(),
          idLop: $('#lop').val(),
        },
        success: function(data) {
          if (data === 'success') {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.options.onHidden = () => {
              location.reload();
            };
            toastr['success']('Yub! Đặt lịch hẹn thành công ^^', 'Thành công!');
          } else {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.on.options.onHidden = () => {
              location.reload();
            };
            toastr['error'](
              'Đặt lịch hẹn thất bại. Kiểm tra lại!',
              'Ops! Thất bại'
            );
          }
        }
      });
    });
  });
</script>
<!-- /.modal -->
<% } if (hocvien.status == 2){ %>

  <div id="giayto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
        <h5 class="modal-title mt-0">Bổ sung giấy tờ cho <%= hocvien.ten %></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <input
          id="code"
          type="text"
          value="<%= hocvien._id %>"
          hidden
          readonly
        />
      </div>
      <div class="modal-body">
              <div class="row">
                <h4 class="card-title mb-4" style="padding-left: 40%">Giấy tờ yêu cầu</h4>
              <div class="table-responsive">
                  <table class="table table-nowrap table-centered mb-0">
                      <tbody>
                          <tr>
                              <td style="width: 60px;">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="hasGksk" <%= hocvien.hasGksk ? 'checked' : '' %>>
                                      <label class="custom-control-label" for="hasGksk"></label>
                                  </div>
                              </td>
                              <td>
                                  <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Giấy khám sức khỏe</a></h5>
                              </td>
        
                              <td>
                                  <div class="text-center">
                                      <span class="badge badge-pill badge-soft-danger font-size-11">Chưa có</span>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="hasSyll"  <%= hocvien.hasSyll ? 'checked' : '' %>>
                                      <label class="custom-control-label" for="hasSyll"></label>
                                  </div>
                              </td>
                              <td>
                                  <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Sơ yếu lý lịch</a></h5>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span class="badge badge-pill badge-soft-success font-size-11">Đã nộp online</span>
                                  </div>
                              </td>
                          </tr>

                          <tr>
                              <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="hasDongdangky" <%= hocvien.hasDongdangky ? 'checked' : '' %>>
                                      <label class="custom-control-label" for="hasDongdangky"></label>
                                  </div>
                              </td>
                              <td>
                                  <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Đơn đăng ký học</a></h5>
                              </td>
                              <td>
                                  <div class="text-center">
                                      <span class="badge badge-pill badge-soft-danger font-size-11">Chưa có</span>
                                  </div>
                              </td>
                          </tr>

                          <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="hasAnh" <%= hocvien.hasAnh ? 'checked' : '' %>>
                                    <label class="custom-control-label" for="hasAnh"></label>
                                </div>
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Ảnh 3x4</a></h5>
                            </td>
                            <td>
                                <div class="text-center">
                                    <span class="badge badge-pill badge-soft-danger font-size-11">Chưa có</span>
                                </div>
                            </td>
                        </tr>

                          <tr>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="hasCmnd" <%= hocvien.hasCmnd ? 'checked' : '' %>>
                                    <label class="custom-control-label" for="hasCmnd"></label>
                                </div>
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Bản sao CMND / CCCD / Hộ chiếu</a></h5>
                            </td>
                            <td>
                                <div class="text-center">
                                    <span class="badge badge-pill badge-soft-success font-size-11">Đã nộp online</span>
                                </div>
                            </td>
                        </tr>
                      </tbody>
                  </table>
                  <hr/>
                </div>
              </div>
              <div class="row" style="padding-top: 2vh;">
                <h4 class="card-title mb-4" style="padding-left: 40%">Giấy tờ bổ sung</h4>
                <div class="table-responsive">
                    <table class="table table-nowrap table-centered mb-0">
                        <tbody>
                            <tr>
                                <td style="width: 60px;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="hasGplx" <%= hocvien.hasGplx ? 'checked' : '' %> >
                                        <label class="custom-control-label" for="hasGplx"></label>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="text-truncate font-size-14 m-0"><a href="javascript:void(0)" class="text-dark">Giấy phép lái xe (Bản sao)</a></h5>
                                </td>
          
                                <td>
                                    <div class="text-center">
                                        <span class="badge badge-pill badge-soft-danger font-size-11">Chưa có</span>
                                    </div>
                                </td>
                            </tr>
                          </tbody>
                    </table>
                </div>
              </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="btn-close"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" id="giayto-confirm" class="btn btn-success">
          Xác nhận
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div
  id="qr-modal"
  class="modal fade bs-example-modal-center"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0">QR code của <%= hocvien.ten %></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <input
          id="code"
          type="text"
          value="<%= hocvien._id %>"
          hidden
          readonly
        />
      </div>
      <div class="modal-body">
        <div id="id_qrcode" style="margin-left: 30%"></div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript" src="/js/qrcode.min.js"></script>
<script>
  window.onload = function(e) {
    var code = document.getElementById('code').value;
    var qrcode = new QRCode('id_qrcode', {
      text: code,
      width: 200,
      height: 200,
      colorDark: '#000000',
      colorLight: '#ffffff',
      correctLevel: QRCode.CorrectLevel.M
    });
  };

  $(document).ready(() => {
    $('#giayto-confirm').on('click', () => {
      $.ajax({
        url: '/api/v1/student/giayto',
        type: 'post',
        data: {
          _id: $('#code').val(),
          hasCmnd : $('#hasCmnd').is(":checked"),
          hasGksk : $('#hasGksk').is(":checked"),
          hasSyll : $('#hasSyll').is(":checked"),
          hasGplx : $('#hasGplx').is(":checked"),
          hasAnh : $('#hasAnh').is(":checked"),
          hasDongdangky : $('#hasDongdangky').is(":checked"),
        },
        success: function(data) {
          if (data === 'success') {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.options.onHidden = () => {
              location.reload();
            };
            toastr['success']('Yub! Cập nhật thông tin thành công ^^', 'Thành công!');
          } else {
            $('#btn-close').click();
            toastr.options = {
              closeButton: false,
              debug: false,
              newestOnTop: false,
              progressBar: false,
              positionClass: 'toast-bottom-right',
              preventDuplicates: false,
              onclick: null,
              showDuration: 300,
              hideDuration: 1000,
              timeOut: 5000,
              extendedTimeOut: 1000,
              showEasing: 'swing',
              hideEasing: 'linear',
              showMethod: 'fadeIn',
              hideMethod: 'fadeOut'
            };
            toastr.on.options.onHidden = () => {
              location.reload();
            };
            toastr['error'](
              'Cập nhật thông tin thất bại. Kiểm tra lại!',
              'Ops! Thất bại'
            );
          }
        }
      });
    });
  })
</script>
<% } %> 

<style>
  /* common */
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon1 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon1::before,
  .ribbon1::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #105812;
  }
  .ribbon1 span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #4caf50;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon2 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon2::before,
  .ribbon2::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #6e640b;
  }
  .ribbon2 span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #ffd752;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  .ribbon3 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon3::before,
  .ribbon3::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #430550;
  }
  .ribbon3 span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #6d089c;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
</style>

<div id="printableArea" style="visibility: hidden">
  <p></p>
  <h3 style="text-align: center; font-size: 25px;"><strong>CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM <br> Độc lập - Tự do - Hạnh phúc<br>------------------------ </strong></h3>
  <p></p>
  <h3 style="text-align: center; font-size: 25px;"><strong>ĐƠN ĐỀ NGHỊ HỌC, SÁT HẠCH<br> ĐỂ CẤP GIẤY PHÉP LÁI XE</strong></h3>
  <p style="text-align: center; font-size: 25px;"><strong>Kính gửi:</strong> Trung tâm dạy lái xe An toàn</p>
  <p></p>
  <p  style="font-size: 20px;margin-left: 50px;">Tôi là:          <%= hocvien.ten %>  <span style="margin-left: 200px;">Quốc tịch: <%= hocvien.quocTich %></span></p>
  <p  style="font-size: 20px;margin-left: 50px;">Sinh ngày: <%= getday(hocvien.ngaySinh) %></p>
  <p  style="font-size: 20px;margin-left: 50px;">Nơi đăng ký hộ khẩu thường trú: <%= hocvien.noiDkhktt %>  </p>
  <p  style="font-size: 20px;margin-left: 50px;">Nơi cư trú: <%= hocvien.diaChi %></p>
  <p  style="font-size: 20px;margin-left: 50px;">Số chứng minh thư nhân dân: <%= hocvien.cmnd %></p>
  <p  style="font-size: 20px;margin-left: 50px;">Cấp ngày <%= getday(hocvien.ngayCapcmnd) %> Nơi cấp: <%= hocvien.noiCapcmnd %></p>
  <p  style="font-size: 20px;margin-left: 50px;">Đã có giấy phép lái xe số: <%= hocvien.oldgplx %> hạng <%= hocvien.loaiGplx %> do <%= hocvien.noiCapgplx %> cấp<%= getday(hocvien.ngayCapgplx) %></p>  
  <p  style="font-size: 20px;margin-left: 50px;">Đề nghị cho tôi được học, dự sát hạch để cấp giấy phép lái xe hạng B1 </p>
  <p  style="font-size: 20px;margin-left: 50px;"><strong>Xin gửi kèm theo:</strong></p>
  <p  style="font-size: 20px;margin-left: 50px;">- 01 giấy chứng nhận sức khỏe</p>
  <p  style="font-size: 20px;margin-left: 50px;">- 06 ảnh màu cỡ 3 x 4 cm</p>
  <p  style="font-size: 20px;margin-left: 50px;">- Bản photocopy chứng minh nhân dân (hoặc hộ chiếu)</p>
  <p  style="font-size: 20px;margin-left: 50px;">- Các tài liệu khác có liên quan gồm: sơ yếu lý lịch, đơn đăng ký....</p>
  <p style="text-align: justify; font-size: 20px;margin-left: 50px;">Tôi xin cam đoan những điều ghi trên đây là đúng sự thật, nếu sai tôi xin hoàn toàn chịu trách nhiệm.</p>
  <table style="width: 100%;font-size: 20px;" border="0"> <tbody> <tr> <td> </td> <td style="text-align: right; float: right;"><em>Hải Phòng, <%=  getday () %> </em></td> </tr> <tr> <td> </td> <td style="text-align: center; float:right; margin-right: 50px;"><strong>NGƯỜI LÀM ĐƠN</strong><br><em>(Ký và ghi rõ họ tên)</em></td> </tr> </tbody> </table>
</div>

<script>
  function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}  
</script>

<!-- Required datatable js -->
<script src="assets\libs\datatables.net\js\jquery.dataTables.min.js"></script>
<script src="assets\libs\datatables.net-bs4\js\dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="assets\libs\datatables.net-buttons\js\dataTables.buttons.min.js"></script>
<script src="assets\libs\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js"></script>
<script src="assets\libs\jszip\jszip.min.js"></script>
<script src="assets\libs\pdfmake\build\pdfmake.min.js"></script>
<script src="assets\libs\pdfmake\build\vfs_fonts.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.html5.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.print.min.js"></script>
<script src="assets\libs\datatables.net-buttons\js\buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="assets\libs\datatables.net-responsive\js\dataTables.responsive.min.js"></script>
<script src="assets\libs\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
    $('#datatable-buttons')
      .DataTable({
        lengthChange: !1,
        buttons: ['copy', 'excel', 'pdf', 'colvis']
      })
      .buttons()
      .container()
      .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
});

</script>
