<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Thông tin lớp học</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">Chi tiết lớp học </li>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"> 
                            <div class="card overflow-hidden">
                                <div class="bg-soft-primary">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="text-primary p-3">
                                                <h5 class="text-primary">Giảng viên!</h5>
                                                <p>Chịu trách nhiệm hướng dẫn</p>
                                            </div>
                                        </div>
                                        <div class="col-5 align-self-end">
                                            <img src="assets\images\profile-img.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="avatar-md profile-user-wid mb-4">
                                                <img src="assets\images\users\avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                                            </div>
                                            <h5 class="font-size-15 text-truncate"><%= lop.idGiangVien.ten %></h5>
                                            <p class="text-muted mb-0 text-truncate">Giáo viên hướng dẫn</p>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="pt-4">
                                               
                                                <div class="row">
                                                    <div class="col-6">
                                                        <h5 class="font-size-15">125</h5>
                                                        <p class="text-muted mb-0">Đã tốt nghiệp</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <h5 class="font-size-15">+5 năm</h5>
                                                        <p class="text-muted mb-0">Kinh nghiệm</p>
                                                    </div>
                                                </div>
                                                <div class="mt-4" style="float: right;">
                                                    <a href="giangvien/<%= lop.idGiangVien._id %> " class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ml-1"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-8">
    
                            <div class="media">
                                <img src="assets\images\companies\img-<%=  Math.floor(Math.random() * 6) + 1 %>.png" alt="" class="avatar-sm mr-4">
        
                                <div class="media-body overflow-hidden">
                                    <h5 class="text-truncate font-size-15"><%= lop.tenLop + " (" + lop._id + ")" %> </h5>
                                    <p class="text-muted">Loại bằng đạo tạo: <strong><%= lop.idLoaiBang.tenBang %> </strong></p>
                                </div>
                                    <div class="mt-4" style="float: right;">
                                                    <a href="lophoc/info/<%= lop._id %> " class="btn btn-info waves-effect waves-light btn-sm">Xem chi tiết<i class="mdi mdi-arrow-right ml-1"></i></a>
                                                </div>
                            </div>
        
                            <h5 class="font-size-15 mt-4">Project Details :</h5>
        
                            <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc,</p>
        
                            <div class="text-muted mt-4">
                                <p><i class="mdi mdi-chevron-right text-primary mr-1"></i> To achieve this, it would be necessary</p>
                                <p><i class="mdi mdi-chevron-right text-primary mr-1"></i> Separate existence is a myth.</p>
                                <p><i class="mdi mdi-chevron-right text-primary mr-1"></i> If several languages coalesce</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 border-top">
                    <div class="row task-dates">
                        <div class="col-sm-4 col-6">
                            <div class="mt-4">
                                <h5 class="font-size-14"><i class="bx bx-calendar mr-1 text-primary"></i> Ngày khai giảng</h5>
                                <p class="text-muted mb-0">08 Sept, 2019</p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-6">
                            <div class="mt-4">
                                <h5 class="font-size-14"><i class="bx bx-calendar-check mr-1 text-primary"></i> Ngày kết thúc</h5>
                                <p class="text-muted mb-0">12 Oct, 2019</p>
                            </div>
                        </div>

                        <div class="col-sm-4 col-6">
                            <div class="mt-4">
                                <h5 class="font-size-14"><i class="bx bx-calendar-check mr-1 text-primary"></i> Tổng thời gian</h5>
                                <p class="text-muted mb-0">20 tuần</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <hr>
            <div style="height : 35vh; overflow-y : auto">
                <table id="tech-companies-1" class="table table-striped table-nowrap table-hover mb-0">
                  <thead>
                    <tr>
                      <th
                        style="position: sticky; top : -1px ;background-color: white;"
                      >
                        Họ tên học viên
                      </th>
                      <th
                        style="position: sticky; top : -1px ;background-color: white;"
                      >
                        Giới tính
                      </th>
                      <th
                        style="position: sticky; top : -1px  ;background-color: white;"
                      >
                        Thông tin liên hệ
                      </th>
                      <th
                        style="position: sticky; top : -1px ;background-color: white;"
                      >
                       Email
                      </th>
                      <th
                        style="position: sticky; top : -1px ;background-color: white;"
                      >
                        Nơi đón
                      </th>
                      <th
                        style="position: sticky; top : -1px ;background-color: white;"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(item of hocvien) {%>
                    <tr>
                      <th><span class="co-name"><%= item.ten %></span></th>
                      <td><%= item.gioiTinh ? "Nam" : "Nữ" %></td>
                      <td><%= item.sdt %></td>
                      <td><%= item.email %></td>
                      <td><%= item.pickUpLocation %></a></td>
                      <td>
                        <ul class="list-inline font-size-20 contact-links mb-0">
                            <li class="list-inline-item px-2">
                                <a href="mailto: <%= item.email %>" data-toggle="tooltip" data-placement="top" title="Gửi email"><i class="bx bx-message-square-dots"></i></a>
                            </li>
                            <li class="list-inline-item px-2">
                                <a href="tel: <%= item.sdt %>" data-toggle="tooltip" data-placement="top" title="Liên hệ"><i class="bx bx-phone-call"></i></a>
                            </li>
                            <li class="list-inline-item px-2">
                                <a href="/profile/<%= item._id%>" data-toggle="tooltip" data-placement="top" title="Profile"><i class="bx bx-user-circle"></i></a>
                            </li>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div> <!-- container-fluid -->